.fade-enter-from {
    opacity: 0;
}

.fade-enter-active {
    transition: all 0.4s ease;
}

.fade-leave-from {
    opacity: 0;
}

.fade-leave-active {
    transition: all 0.4s ease;
}


/* Slide left */

.slide-left-enter-from,
.slide-left-leave-to {
    /* opacity: 0; */
    transform: translateX(-90vh);
}

.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 0.5s ease;
}

.slide-right-enter-from,
.slide-right-leave-to {
    opacity: 0;
    transform: translateX(90vh);
}

.slide-right-enter-active,
.slide-right-leave-active {
    transition: all 0.5s ease;
}